.card {
  position: relative;
}

.card img {
  width: 4em;
  display: block;
  border: 2px solid #fff;
  height: calc(1.5 * 3.5em);
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}

